body {
	padding-top: 50px;
	background-color: #FAFAFA;
}

.jumbotron {
	background-image: 	linear-gradient(
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)
		), url("../images/cover.png");
	min-height: 50%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	color: #FAFAFA;

}

.panel {
	border-radius: 0;
	-webkit-appearance: none;
}

.btn {
	border-radius: 0;
	-webkit-appearance: none;
	margin: 2px 0;
}

.btn:focus {
	outline: none;
}

.caption {
	overflow: hidden;
}

.caption h4 {
	white-space: nowrap;
}

.thumbnail img {
	width: 100%;
}

a.thumbnail {
	text-decoration: none;
}

.thumbnail {
	border-radius: 0;
	-webkit-appearance: none;
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
	color: #333;
}

.searchbox {
	margin: 0 15px;
}

.searchbox .btn, .dropdown-menu {
	border-radius: 0;
	-webkit-appearance: none;
}

.list-special .list-group-item:first-child {
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.list-special .list-group-item:last-child {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.list-special .list-group-item {
	border-left: none;
	border-right: none;
}

a.list-group-item {
	overflow: hidden;  
	position: relative;
	display: block;
	padding: 0;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.panel .panel-subheading {
	border-bottom: 1px solid;
	border-color: #EEEEEE;
}